/* Security policy for non-secure Fiddler */

/* Grant all permissions to our classes */
grant {
    permission java.security.AllPermission "","";
    permission java.net.SocketPermission "*:8080", "connect";
};
