/* Configuration file for starting non-secure Jini Services */

import com.sun.jini.config.ConfigUtil;
import com.sun.jini.start.NonActivatableServiceDescriptor;
import com.sun.jini.start.ServiceDescriptor;
import java.io.File;

com.sun.jini.start {

    //MDEOS JINI RUNTINE
    private static group = "${user.name}";
    //private static jini_base_dir = "${user.home}/.jini";
    private static jini_base_dir = System.getProperty("user.home") + "/.jini";
    private static httpd_base_dir = jini_base_dir + "/www";

    //
    // HTTPD Service
    //
    private static httpd_codebase = "";
    private static httpd_policy = jini_base_dir + "/config/httpd.policy";
    private static httpd_classpath = "";
    private static httpd_impl = "com.sun.jini.tool.ClassServer";
    private static httpd_service =  new NonActivatableServiceDescriptor(
    		httpd_codebase, 
    		httpd_policy, 
    		httpd_classpath, 
    		httpd_impl,
    		new String[] {
    			"-port", 
    			"8080", 
    			"-dir", 
                        httpd_base_dir, 
    			"-verbose"
    		}
    );
	   
    static serviceDescriptors = new ServiceDescriptor[] {
        httpd_service
    };

}//end com.sun.jini.start

