/* Security policy for non-secure Reggie */

/* Grant all permissions to our classes */
grant {
    permission java.security.AllPermission;
    permission java.io.FilePermission "StartJiniSysServices.config", "read";
};
